:root {
  --green: #56af41;
  --grey-300: #3c3d42;
  --grey-400: #4e4e4e;
  --grey-500: #5c5c5c;
  --white: #fff;
  --white-100:#E9ECEE;
  --white-900:#F9F9F9;
  
}

/* color */

.text-white{
    color: var(--white);
}
.text-green{
    color: var(--green);
}
.text-grey-300{
    color: var(--grey-300);
}
.text-grey-400{
    color: var(--grey-400);
}
.text-grey-500{
    color: var(--grey-500);
}


/* background */


.bg-green{
    background: var(--green);
}


/* display */

.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}

/* position */

.relative{
    position: relative;
}
.absolute{
    position: absolute;
}

.z-1{
    z-index: 1;
}