@import url("./css/var.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease;
  position: relative;
  z-index: 1;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}

button {
  background: inherit;
  outline: none;
  border: inherit;
  transition: 0.3s ease;
  position: relative;
    z-index: 1;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 1464px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 75px;
}

.header__branding {
  display: flex;
  gap: 15px;
  align-items: center;
}
.header__logo {
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--grey-300);
}
.header__tagline {
  font-size: 12px;
  font-weight: 500;
  color: var(--grey-500);
}
.header__actions {
  display: flex;
  gap: 60px;
  align-items: center;
}
.header__contact {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__icons img {
  width: 32px;
  height: auto;
}
.header__icons a {
  z-index: 2;
  transition: 0.3s ease;
}
.header__icons a:hover {
  transform: scale(1.1);
  z-index: 2;
}
.header__icons .vk-round {
  margin-left: -7px;
  z-index: 1;
}
.header__contact-phone {
  font-size: 16px;
  color: var(--grey-300);
  font-weight: 700;
}
.header__auth {
  display: flex;
  align-items: center;
  gap: 20px;
}
.login {
  gap: 6px;
  font-size: 16px;
}
.login img {
  width: 18px;
  height: auto;
}
.regis {
  height: 36px;
  padding: 0 20px;
  border-radius: 20px;
}
.regis:hover{
  opacity: 0.8;
}

/* Dashboard */

.dashboard {
  gap: 120px;
  padding-bottom: 100px;
}
.dashboard__info {
  max-width: 730px;
  align-items: start;
}
.dashboard__title {
  font-size: 42px;
  font-weight: 300;
  padding-top: 80px;
}
.dashboard__highlight {
  font-weight: 700;
}
.dashboard__subtitle {
  font-size: 20px;
  margin-top: 20px;
  padding-right: 101px;
}

.dashboard__btn {
  margin-top: 60px;
  margin-bottom: 20px;
  border-radius: 20px;
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  padding: 0 72px;
}
.dashboard__note {
  font-size: 16px;
  margin-bottom: 60px;
}

.dashboard__features {
  gap: 40px;
  font-size: 16px;
}
.feature {
  gap: 20px;
}
.feature__icon {
  width: 32px;
  height: auto;
}

.liner {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: auto;
}

.dashboard__media {
  max-width: max-content;
}

.dashboard__image {
  height: 575px;
  width: auto;
  position: relative;
}
.blur {
  width: 200px;
  height: 180px;
  filter: blur(120px);
  background: var(--green);
  position: absolute;
  right: 0;
}
.dashed__border {
  bottom: 25px;
  padding: 0 20px;
  width: 100%;
}
.dashed__border div {
  padding: 6px;
  width: 100%;
  border: 2px dashed var(--white);
  border-radius: 20px;
}
.dashed__border button {
  height: 60px;
  width: 100%;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
}

.dashed__border div span {
  height: 16px;
  width: 16px;
  display: flex;
  border-radius: 20px;
  background: var(--white);
  position: absolute;
}
.tl {
  left: -4px;
  top: -4px;
}
.tr {
  right: -4px;
  top: -4px;
}
.bl {
  left: -4px;
  bottom: -4px;
}
.br {
  right: -4px;
  bottom: -4px;
}

.google {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background: var(--white);
  box-shadow: 6.85px 10.96px 32.2px 0px rgba(184, 191, 203, 0.47);
}

.google img {
  width: 30px;
  height: 30px;
}

.calendar {
  top: 20px;
  right: -30px;
}
.gmail {
  top: 40%;
  right: 30px;
}
.meet {
  bottom: 100px;
  right: -20px;
}

/* info */

.info {
  padding: 100px 0;
  min-height: 100vh;
  background: var(--white-900);
}
.info .container {
  z-index: 1;
}
.info h2 {
  font-weight: 300;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  font-size: 42px;
  line-height: 1;
  margin-bottom: 20px;
}
.info h2 strong {
  font-weight: 700;
}
.info__title {
  margin: 0 auto;
  max-width: 1040px;
  font-size: 20px;
  text-align: center;
}
.info__main {
  gap: 70px;
  margin-top: 50px;
}
.info__content {
  gap: 30px;
  width: 45%;
}
.info__item {
  display: flex;
  gap: 20px;
  align-items: center;
  background: var(--white);
  border-radius: 24px;
  padding: 30px 25px;
  font-size: 20px;
  font-weight: 500;
  transition: .3s ease;
}
.info__item:hover{
transform: scale(1.05);
}
.info__item:hover img{
  transform: scale(1.2);
  transition: 1s ease;
}
.info__item-icon {
  width: 48px;
  min-width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--green);
  border-radius: 10px;
}
.info__item-icon img {
  width: 30px;
  height: auto;
}
.green__item {
  background: var(--green);
  color: var(--white);
}
.green__item .info__item-icon {
  background: var(--white);
}

.info__media {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  object-fit: contain;
}
#vidjet h2 {
  font-weight: 400;
  font-size: 42px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.vidjet__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.vidjet__item {
  padding-top: 40px;
  padding-left: 40px;
  background: url(./img/bgvidget.png) var(--white-900);
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  color: var(--grey-300);
  font-size: 18px;
  line-height: 1.2;
}
.vidjet__item div {
  max-width: 293px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.vidjet__item span {
  font-size: 24px;
  font-weight: 600;
}
.green__vidget {
  background: var(--green);
  color: var(--white);
}
#steps {
  padding: 100px 0;
}
#steps h2 {
  padding-bottom: 50px;
  font-size: 42px;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
}
.step__liner {
  position: absolute;
  top: 40px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.steps__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  position: relative;
  z-index: 1;
}

.steps__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.step__item {
  padding-left: 30px;
  padding-bottom: 40px;
  padding-right: 10px;
  border-radius: 24px;
  background: var(--white-900);
  color: var(--grey-300);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.step__item span {
  font-size: 24px;
  font-weight: 600;
}
.step__item p {
  font-size: 18px;
}
.step__item .step__title {
  font-size: 32px;
  line-height: 1;
  margin-top: -16px;
  color: var(--green);
}

/* examples */

#examples {
  padding: 100px 0;
  background: var(--white-900);
}
#examples h2 {
  font-size: 42px;
  max-width: 640px;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  color: var(--grey-300);
}
.sub__title {
  margin-top: 10px;
  color: var(--grey-400);
  font-size: 20px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.example__steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.example__item {
  border-radius: 24px;
  background: var(--white);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--grey-300);
  border: 1px solid var(--white-100);
}
.example__item span {
  display: flex;
  padding: 6px 12px;
  border-radius: 10px;
  border: 1px solid var(--green);
  font-size: 14px;
  max-width: max-content;
}
.example__item h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 12px;
}
.example__item p {
  font-size: 16px;
}

.start__btn {
  height: 60px;
  border-radius: 20px;
  padding: 0 35px;
  margin: 30px auto 20px auto;
}
.free__time {
  font-size: 16px;
  color: var(--grey-500);
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.checks_card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.check__item {
  width: 340px;
  padding: 16px 50px;
  border-radius: 24px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  color: var(--grey-400);
  line-height: 1.1;
  text-align: center;
}
.check__item div {
  height: 48px;
  width: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--green);
  margin-top: -30px;
}
.check__item img {
  width: 30px;
  height: auto;
}

.example__liner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* video__vidjet */

#video__vidjet h2 {
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 42px;
  color: var(--grey-300);
  font-weight: 400;
}
.videos__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.video__item {
  background: var(--white-900);
  border-radius: 24px;
  padding: 40px;
  color: var(--grey-300);
  display: flex;
  gap: 40px;
}
.video__item span {
  font-size: 24px;
  font-weight: 600;
}
.video__item p {
  font-size: 18px;
  margin-top: 16px;
}
.video__item img {
  width: 300px;
  height: auto;
  border-radius: 24px;
}

/* create__video */
#create__video {
  margin: 100px 0;
}
#create__video h2 {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 42px;
  margin-left: auto;
  margin-right: auto;
}
.create__wrap {
  display: flex;
  align-items: center;
  gap: 60px;
}

.create__media {
  display: flex;
  align-items: center;
}

.create__main-img {
  width: 427px;
}
.create__main-img img {
  width: 100%;
  height: auto;
}
.picker {
  margin-left: -10px;
  z-index: 10;
}
.create__infos {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.create__item {
  display: flex;
  gap: 20px;
  color: var(--grey-300);
}
.create__icon {
  min-width: 48px;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  background: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
}
.create__icon img {
  width: 30px;
  height: auto;
}
.create__item span {
  font-size: 24px;
  font-weight: 600;
}
.create__item p {
  font-size: 18px;
  margin-top: 16px;
}

/* payment  */

#payment {
  padding: 100px 0;
  background: var(--white-900);
}

.payment__liner {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.payment__title {
  gap: 20px;
  margin-bottom: 50px;
}
.payment__title h2 {
  font-weight: 400;
  font-size: 42px;
}
.payment__title h3 {
  font-weight: 400;
  font-size: 20px;
}
.payment__card {
  background: var(--white);
  border: 1px solid var(--white-100);
  border-radius: 24px;
  padding: 30px;
}
.payment__card-title {
  gap: 10px;
  margin-bottom: 30px;
  color: var(--grey-300);
}
.payment__card-title span {
  font-weight: 700;
  font-size: 18px;
}
.payment__card-title h4 {
  font-weight: 700;
  font-size: 42px;
}
.payment__items {
  gap: 10px;
}
.payment__item {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 18px;
}
.payment__item img {
  width: 32px;
  height: auto;
}

.free__card {
  width: 100%;
  padding: 16px 0;
  color: var(--grey-300);
  background: #57af4114;
  font-size: 18px;
  line-height: 24px;
  border-radius: 24px;
  font-weight: 300;
  margin: 30px 0;
}
.free__card-title {
  font-weight: 700;
  display: flex;
  margin-bottom: 10px;
}
.payment__btn {
  width: 100%;
  height: 60px;
  border-radius: 24px;
  font-size: 18px;
}

.payment__title-bottom {
  color: var(--grey-500);
  margin-top: 20px;
  font-size: 16px;
}
.footer {
  padding-top: 50px;
  padding-bottom: 60px;
  justify-content: space-between;
  color: #3c3d4299;
  font-size: 12px;
  font-weight: 400;
}
.footer__info {
  gap: 80px;
  margin-top: 28px;
}
.font-semibold {
  font-weight: 600;
}

.footer__info-program {
  margin-bottom: 10px;
}
.footer__info-company {
  max-width: 360px;
}
